body {
    background-color: rgb(204, 204, 204);
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    font-size: 64px;
}
.p-header {
    text-align: right;
}

.main {
    display: flex;
}

header {
    background-color: #2d4b25;
    justify-content: center;
}
header {
    display: flex;
    color: white;
    gap: 90px;
}

.main-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 7px #666;
    margin: 35px;
}

.name {
    
    margin-top: 108px;
    
}

.wrapper {
    width: 70%;
    margin: 100px auto ;
    box-shadow: 0 0 15px rgb(39, 38, 38);
}

.contact__items {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.contact__item {
    display: flex;
    font-size: 20px;
    margin: 10px;

}

.icon.github {
    width: 30px;
    margin: 0 20px;
}

.icon.instagram {
    width: 30px;
    margin: 0 20px;
}

.icon.telegram {
    width: 30px;
    margin: 0 20px;
}

.icon.gmail {
    width: 30px;
    margin: 0 20px;
}

.icon.location {
    width: 30px;
    margin: 0 20px;
}

.contact__link {
    color: #2d4b25;
    text-decoration: none;
    transition: all .4s linear;
}

.contact__link:hover {
    color: #6fb35e;
    text-decoration: underline;
}

.title {
    margin: 20px 20px;
    border-bottom: 2px solid black;
    display: inline-block;
}

.skills__items {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.skill__item {
    display: flex;
    font-size: 20px;
    margin: 10px;

}

.icon.html {
    width: 30px;
    margin: 0 20px;
}

.icon.css {
    width: 30px;
    margin: 0 20px;
}

.icon.js {
    width: 30px;
    margin: 0 20px;
}

.icon.figma {
    width: 30px;
    margin: 0 20px;
}

.icon.ps {
    width: 30px;
    margin: 0 20px;
}

.language__item {
    font-size: 20px;
    margin: 10px;
}

.contact-skills-language {
    width: 40%;
    background-color: #9dbb96;
    
}

.my-information {
    margin: 10px;
    border-radius: 20px;
    padding: 30px;
    background-color: #9dbb96;
}

.main-information {
    width: 100%;
    padding: 30px;
    
}

.date {
    margin: 10px;
    font-weight: 600;
    color: rgb(19, 34, 20);   
}

.ei {
    margin: 10px;
    font-weight: 600;

}

.speciality {
    margin: 10px;
}

.engineer {
    margin: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    background-color: #b9ceb4;
    font-size: 18px;
}

code {
    font-weight: 300;
    font-size: 15px;
    
}
